@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --accent-purple: hsl(281, 83%, 54%);
    --main-font: "Work Sans";
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    min-height: 100vh;
    font-family: var(--main-font) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--dark-purple);
    background-color: var(--light-pink);
    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 232px;
}
.card{
    padding: 24px;
    width: 327px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 32px 56px rgba(80, 0, 118, 10%)
}
.card__header{
    display: flex;
    align-items: center;
    height: 38px;
    margin-bottom: 24px;
}
.card__img{
    width: 24px;
    height: 24px;
}
.card__title{
    margin: 0 0 0 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}
.card__section{
    margin: 20px 0px;
}
.card__section:last-child{
    margin-bottom: 0;
}
.card__question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.card__question:hover > .card__question_title{
    color: var(--accent-purple);
}
.card__question_title{
    max-width: calc(100% - 46px);
    font-weight: 600;
    line-height: 19px;
}
.card__question_icon{
    width: 30px;
    height: 30px;
    background: url('./assets/images/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card__answer{
    margin-top: 24px;
    font-size: 14px;
    line-height: 150%;
    color: var(--grayish-purple);
}
details[open] > summary .card__question_icon{
    transform: rotate(360deg);
    background: url('./assets/images/icon-minus.svg');
}
.card__hr{
    height: 1px;
    background-color: var(--light-pink);
}
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.footer div{
    font-size: 14px;
}
.footer a {
    font-size: 14px;
    color: hsl(228, 45%, 44%);
}

@media (min-width: 376px) { 
    body{
        background-image: url('./assets/images/background-pattern-desktop.svg');
        background-size: 1440px 320px;
        background-position: top center;
    }
}
@media (min-width: 768px) {
    .card{
        padding: 40px;
        width: 600px;
        border-radius: 16px;
    }
    .card__header{
        height: 66px;
        margin-bottom: 32px;
    }
    .card__img{
        width: 40px;
        height: 40px;
    }
    .card__title{
        font-size: 64px;
    }
    .card__section{
        margin: 24px 0px;
    }
    .card__question_title{
        font-size: 18px;
        line-height: 21px;
    }
    .card__question_title{
        max-width: calc(100% - 30px);
        font-weight: 600;
        line-height: 19px;
    }
    .card__answer{
        font-size: 16px;
    }
}
@media (min-width: 1440px) { 
    body{
        background-size: 100% auto;
        background-position: bottom calc(100% - (320px - (32 / 144 * 100vw))) center;
    }
}